html,
body {
    height: 100%;
}

body {
    margin: 0;

    &.mat-typography {
        font-family: 'Comfortaa', cursive;
    }
}

.container.item-pause {
    .progress-bar {
        .mdc-linear-progress__bar-inner {
            border-color: #666;
        }
    }
}